body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #BAE1FF;
    height: 100%;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.inner_content {
    margin: auto;
    text-align: center;
}

#searchbar_index {
    width: 740px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 7%;
}

.askbutton {
    border-radius: 10px;
    font-size: 20px;
    background-color: #113961;
    margin: auto;
    padding: 8px 267px;
}

.go_button {
    border-radius: 10px;    
    font-size: 20px;
    background-color: #113961;
    border: none;
    padding: 5.75px 10px;
    color: white;
    margin: 0px 0px 0px 30px;
}

.go_button:hover {
    background-color: #095583;
}

.editdeletebutton {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}

.editdeletebutton:hover {
    background-color: #2e6da4;
    color: white;
    text-decoration: none;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

.button a:hover {
    text-decoration: none;
    background-color: #095583;
}

.askbutton a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#logoutbutton {
    color: black;
}

#logoutbutton:hover {
    background-color: #BAE1FF;
    text-decoration: none;
}

.navbar-inverse {
    background-color: #DDFFFC;
    border-bottom: 0px;
}

.navbar-inverse .navbar-brand {
    color: #000;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #000;
}
.navbar-inverse .navbar-text {
    color: #000000;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: #BAE1FF;
}

h3 {
    margin-bottom: 20px;
}

.footer {
    float: left;
    bottom: 0;
    width: 80%;
    height: 20px;
    margin: 50px auto 0px;
}

.footer p{
    margin: 0px;
}

.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

#logo {
    display: block;
    width: 406px;
    margin: auto;
    margin-top: 20px;
}

.questions {
    margin-top: 100px;
}

#logoutbutton {
    color: black
}

.navbar-nav > li > button {
    padding-top: 15px;
    padding-bottom: 13px;
    margin: 0;  
}

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
    border-color: #000;
}