@page "{id:int}"
@model EditModel

@{
    ViewData["Title"] = "Edit Question";
}

<h1>@ViewData["Title"] - @Model.Question.Id</h1>
<form method="POST">
    <div asp-validation-summary="All"></div>

    <input asp-for="Question.Id" type="hidden" />

    <div>
        <label asp-for="Question.Title"></label>
        <div>
            <input asp-for="Question.Title" />
            <span asp-validation-for="Question.Title" ></span>
        </div>

        <label asp-for="Question.Body"></label>
        <div>
            <input asp-for="Question.Body" />
            <span asp-validation-for="Question.Body"></span>
        </div>

    </div>

    <input asp-for="Question.Vote" type="hidden" />
    <input asp-for="Question.PublisherId" type="hidden" />
 
    <div>
        <button type="submit">Save</button>
    </div>
</form>